<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.chen.luntan.mapper.NewsMapper">

    <insert id="insertNews" parameterType="user_news">
        insert into user_news(user_id,produce_user_id,`type`,post_id,create_date)
        values(#{user_id},#{produce_user_id},#{type},#{post_id},#{create_date});
    </insert>

</mapper>
