<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.chen.luntan.mapper.UserMapper">

    <select id="getUser" parameterType="java.lang.String" resultType="user">
        select * from user where account = #{account};
    </select>

    <select id="getUserData" parameterType="long" resultType="user_data">
        select * from user_data where user_id = #{id};
    </select>

    <insert id="insertUser" parameterType="user" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into user(account, password, email,is_activation, activation_data)
        values (#{account},#{password},#{email},false,#{activation_data});
    </insert>

    <insert id="insertUserData" parameterType="user_data">
        insert into user_data(user_id,`name`,create_date)
        values (#{user_id},#{name},#{create_date});
    </insert>

    <insert id="insertUserAttention" parameterType="user_attention">
        insert into user_attention(user_id,followed_user_id)
        values (#{user_id},#{followed_user_id})
    </insert>

    <resultMap id="user_attentionMap" type="user_attention">
        <id  column="id" property="id"/>
        <result column="user_id" property="user_id"/>
        <result column="followed_user_id" property="followed_user_id"/>
        <association property="user_data" resultMap="user_dataMap"/>
        <association property="fan_user_data" resultMap="fan_user_dataMap"/>
    </resultMap>

    <resultMap id="user_dataMap" type="user_data">
        <result property="user_id" column="u_id"/>
        <result property="name" column="u_name"/>
        <result property="avatar" column="u_avatar"/>
        <result property="sex" column="u_sex"/>
        <result property="type" column="u_type"/>
        <result property="create_date" column="u_cd"/>
        <result property="user_describe" column="u_ud"/>
    </resultMap>

    <resultMap id="fan_user_dataMap" type="user_data">
        <result property="user_id" column="f_id"/>
        <result property="name" column="f_name"/>
        <result property="avatar" column="f_avatar"/>
        <result property="sex" column="f_sex"/>
        <result property="type" column="f_type"/>
        <result property="create_date" column="f_cd"/>
        <result property="user_describe" column="f_ud"/>
    </resultMap>

    <select id="selectUserAttention" parameterType="user_attention" resultMap="user_attentionMap">
        select id,ua.user_id user_id,followed_user_id,u.avatar u_avatar,u.name u_name,u.sex u_sex,u.type u_type,u.create_date u_cd,u.user_describe u_ud,u.user_id u_id,
        f.avatar f_avatar,f.name f_name,f.sex f_sex,f.type f_type,f.create_date f_cd,f.user_describe f_ud,f.user_id f_id
        from user_attention ua
        join user_data u on u.user_id = ua.followed_user_id
        join user_data f on f.user_id = ua.user_id
        <where>
            <if test="user_id!=0">
                and #{user_id} = ua.user_id
            </if>
            <if test="followed_user_id!=0">
                and #{followed_user_id} = ua.followed_user_id
            </if>
        </where>
    </select>

    <delete id="deleteUserAttention" parameterType="user_attention">
        delete from user_attention
        where #{user_id} = user_id and #{followed_user_id} = followed_user_id
    </delete>

    <select id="selectActivation" resultType="user">
        select * from user
        where id = #{user_id} and activation_data = #{activation_data};
    </select>

    <update id="updateIsActivation">
        update user set is_activation = true
        where id = #{user_id}
    </update>

    <update id="updateUserData" parameterType="user_data">
        update user_data
            <set>
                <if test="avatar!=null">
                    avatar = #{avatar},
                </if>
                <if test="name!=null">
                    name = #{name},
                </if>
                <if test="sex!=null">
                    sex = #{sex},
                </if>
                <if test="user_describe!=null">
                    user_describe = #{user_describe}
                </if>
            </set>
        where user_id = #{user_id};
    </update>








</mapper>