<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.chen.luntan.mapper.UserMapper">

    <select id="getUser" parameterType="java.lang.String" resultType="user">
        select * from user where account = #{account};
    </select>

    <select id="getUserData" parameterType="long" resultType="user_data">
        select * from user_data where user_id = #{id};
    </select>

    <insert id="insertUser" parameterType="user" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into user(account, password, email,is_activation, activation_data)
        values (#{account},#{password},#{email},false,#{activation_data});
    </insert>

    <insert id="insertUserData" parameterType="user_data">
        insert into user_data(user_id,`name`,create_date)
        values (#{user_id},#{name},#{create_date});
    </insert>

    <insert id="insertUserAttention" parameterType="user_attention">
        insert into user_attention(user_id,followedd_user_id)
        values (#{user_id},#{followedd_user_id})
    </insert>





</mapper>