<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.chen.luntan.mapper.UserMapper">

    <select id="getUserData" parameterType="int" resultType="com.example.chen.luntan.pojo.UserData">
        select * from user_data where user_id = #{id};
    </select>

    <insert id="registerUser" parameterType="com.example.chen.luntan.pojo.User">
        insert into luntan.user(account, password, email,is_activation, activation_data)
        values (#{account},#{password},#{email},false,#{activationData});
    </insert>

    <select id="loginUser" parameterType="java.lang.String" resultType="com.example.chen.luntan.pojo.UserData">
        select * from user_data where user_id = #{id};
    </select>
</mapper>